<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>android_connections.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserAccount</servlet-name>
        <servlet-class>android_connections.EditUserAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Products</servlet-name>
        <servlet-class>android_connections.Products</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Review</servlet-name>
        <servlet-class>android_connections.Review</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReview</servlet-name>
        <servlet-class>android_connections.ViewReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddReview</servlet-name>
        <servlet-class>android_connections.AddReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Notification</servlet-name>
        <servlet-class>android_connections.Notification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Order</servlet-name>
        <servlet-class>android_connections.Order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderStatus</servlet-name>
        <servlet-class>android_connections.OrderStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pay</servlet-name>
        <servlet-class>android_connections.Pay</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserAccount</servlet-name>
        <url-pattern>/EditUserAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Products</servlet-name>
        <url-pattern>/Products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Review</servlet-name>
        <url-pattern>/Review</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReview</servlet-name>
        <url-pattern>/ViewReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddReview</servlet-name>
        <url-pattern>/AddReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notification</servlet-name>
        <url-pattern>/Notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Order</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderStatus</servlet-name>
        <url-pattern>/OrderStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pay</servlet-name>
        <url-pattern>/Pay</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
